/* Global Styles */

html {
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
        display: none;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

button:hover {
    cursor: pointer;
}

/* Header Styles */

header {
    height: 4rem;
    width: 100%;
    padding: 0rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header:hover {
    cursor: pointer;
}

.logo {
    display: flex;
    gap: 0.4rem;
}

.logo img {
    height: 1.9375rem;
    width: 1.9375rem;
}

.logo h2 {
    color: #004838;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
}

.access {
    width: 8.34125rem;
    height: 2.5rem;
    background-color: #004838;
    border-radius: 0.5rem;
}

.access a {
    color: #E2FB6C;
    text-decoration: none;
    font-size: 0.875rem;
}

/* Main Styles */

.main {
    display: flex;
    height: 70.8125rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main1 {
    width: 42rem;
    height: 33.5625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6.0625rem;
}

.main1 h5 {
    color: #004838;
    margin-top: 2rem;
    font-size: 0.875rem;
}

.main1 h1 {
    color: #111827;
    font-size: 3.4rem;
    width: 100%;
    height: 7.375rem;
    text-align: center;
}

.main1 h1 span {
    font-family: "Libre Caslon Text", serif;
    font-weight: 500;
    font-style: italic;
    color: #004838;
    font-size: 3.4rem;
}

.para {
    height: 6.75rem;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.para p {
    font-size: 1.25rem;
}

.main1 button {
    height: 4rem;
    width: 13.5rem;
    background-color: #004838;
    border-radius: 0.9375rem;
}

.main1 button a {
    font-size: 1.125rem;
    color: #E2FB6C;
    text-decoration: none;
}

.rating {
    display: flex;
    gap: 0.625rem;
    margin-top: 1.875rem;
}

.rating-logo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dash-img {
    width: 100vh;
    display: flex;
    justify-content: center;
}

.dash-1 {
    position: absolute;
    width: 63.1875rem;
    height: 28.25rem;
}

.dash-2 {
    position: relative;
    height: 31.25rem;
    width: 41.666875rem;
}

.main-2 {
    height: 67.5rem;
    width: 100%;
    background: linear-gradient(180deg, #004838, #000000);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.m2-content {
    height: 18.125rem;
    width: 72rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.m2-content h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 2.94375rem;
    margin-bottom: 2rem;
    color: #E2FB6C;
}

.m2-content p {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.m2-content button {
    height: 3rem;
    width: 11.75rem;
    background-color: #E2FB6C;
    border-radius: 0.75rem;
}

.m2-content button a {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1rem;
    color: #024537;
    text-decoration: none;
}

.m2-img img {
    height: 30rem;
    width: 72rem;
}

.main-3 {
    height: 67.5rem;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.m3-content {
    width: 72rem;
    height: 2;
    display: flex;
    align-items: center;
}

.m3-heading {
    width: 70%;
    height: 18.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.m3-heading h1 {
    font-size: 2.94375rem;
    color: #004838;
}

.m3-heading p {
    font-size: 1rem;
    color: #004838;
    margin-top: 1.2rem;
}

.m3-heading button {
    height: 3rem;
    width: 11.75rem;
    background-color: #004838;
    border-radius: 0.75rem;
    margin-top: 1.2rem;
}

.m3-heading button a {
    color: #E2FB6C;
    text-decoration: none;
    font-size: 1rem;
}

.m3-content-img {
    margin-left: 20rem;
    width: 40%;
}

.m3-content-img img {
    height: 100%;
    width: 100%;
}

.m3-img {
    height: 30rem;
    width: 72rem;
}

.main-4 {
    height: 34.875rem;
    width: 100%;
    background: url("./imgs/Waitlist-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.m4-heading {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.m4-heading h1 {
    color: #FFFFFF;
    font-size: 3.125rem;
}

.m4-heading h1 span {
    font-size: 4rem;
    color: #E2FB6C;
}

.m4-heading img {
    height: 3.375rem;
    width: 3.375rem;
}

.m4-input {
    height: 4.075625rem;
    width: 37.586875rem;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
}

.m4-input input {
    width: 23.25rem;
    height: 1.875rem;
    outline: none;
    border: none;
    color: grey;
    font-size: 1rem;
}

.m4-input button {
    height: 2.264375rem;
    width: 8.92125rem;
    border-radius: 0.75rem;
    background-color: #004838;
    color: white;
    font-size: 0.905625rem;
}

.m4-image {
    width: 2.25rem;
    height: 2.25rem;
}

.main-5 {
    height: 81.25rem;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.m5-content {
    height: 13.375rem;
    width: 75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.m5-content h1 {
    color: #111827;
    font-size: 2.94375rem;
}

.m5-content P {
    color: #1F2534;
    font-size: 1.125rem;
}

.m5-img {
    height: 58.25rem;
    width: 77.6175rem;
}

.m5-img img {
    width: 77.6875rem;
    height: 58.25rem;
}

.main-6 {
    height: 36.1875rem;
    width: 100%;
    background: linear-gradient(180deg, #004838, #000000);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.m6-content {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    height: 21.625rem;
    width: 100%;
}

.m6-heading {
    height: 11.6875rem;
    width: 36.8125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.m6-heading h1 {
    font-size: 3.0625rem;
    color: #FFFFFF;
}

.m6-heading h1 span {
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: italic;
    color: #E2FB6C;
    font-size: 3.0625rem;
}

.m6-heading button {
    height: 3rem;
    width: 11.75rem;
    background-color: #004838;
    border: 0.0625rem solid white;
    border-radius: 0.75rem;
}

.m6-heading button a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
}

.m6-img img {
    margin-left: 10rem;
    width: 43.625rem;
    height: 21.625rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 5.625rem;
    color: #E2FB6C;
    font-size: 0.9125rem;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    height: 1.9375rem;
    width: 1.9375rem;
}

.footer-logo h2 {
    font-size: 2rem;
}

.lagoon-logo {
    width: 3.375rem;
    height: 3.375rem;
}

.m3-image-2 {
    width: 72rem;
    height: 30rem;
}

/* Media Queries */

/* For screens with a maximum width of 768px */

@media only screen and (max-width: 768px) {
    .main {
        height: 100vh;
    }

    .main1 {
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }

    .main1 h1 {
        font-size: 2rem;
    }

    .para {
        height: auto;
    }

    .para p {
        font-size: 1rem;
    }

    .rating {
        gap: 0.5rem;
    }

    .dash-img {
        width: 100%;
    }

    .dash-1 {
        width: 100%;
        height: auto;
    }

    .dash-2 {
        width: 100%;
        height: auto;
    }

    .main-2 {
        height: 100vh;
    }

    .m2-content {
        width: 100%;
        height: auto;
    }

    .m2-content h1 {
        font-size: 1.5rem;
    }

    .m2-content p {
        font-size: 0.875rem;
    }

    .m2-img img {
        width: 100%;
        height: auto;
    }

    .main-3 {
        height: 100vh;
    }

    .m3-content {
        width: 100%;
        height: auto;
    }

    .m3-heading {
        width: 100%;
        height: auto;
    }

    .m3-heading h1 {
        font-size: 1.5rem;
    }

    .m3-heading p {
        font-size: 0.875rem;
    }

    .m3-content-img {
        margin-left: 0;
        width: 100%;
    }

    .m3-content-img img {
        width: 100%;
        height: auto;
    }

    .main-4 {
        height: 100vh;
    }

    .m4-heading {
        gap: 0.25rem;
    }

    .m4-heading h1 {
        font-size: 1.5rem;
    }

    .m4-heading h1 span {
        font-size: 2rem;
    }

    .m4-input {
        width: 100%;
        height: auto;
    }

    .m4-input input {
        width: 100%;
        height: 1.5rem;
    }

    .m4-input button {
        width: 100%;
        height: 2rem;
    }

    .main-5 {
        height: 100vh;
    }

    .m5-content {
        width: 100%;
        height: auto;
    }

    .m5-content h1 {
        font-size: 1.5rem;
    }

    .m5-content P {
        font-size: 0.875rem;
 }

    .m5-img {
        width: 100%;
        height: auto;
    }

    .m5-img img {
        width: 100%;
        height: auto;
    }

    .main-6 {
        height: 100vh;
    }

    .m6-content {
        width: 100%;
        height: auto;
    }

    .m6-heading {
        width: 100%;
        height: auto;
    }

    .m6-heading h1 {
        font-size: 1.5rem;
    }

    .m6-heading h1 span {
        font-size: 2rem;
    }

    .m6-img img {
        margin-left: 0;
        width: 100%;
        height: auto;
    }
}

/* For screens with a maximum width of 480px */

@media only screen and (max-width: 480px) {
    .main {
        height: 100vh;
    }

    .main1 {
        width: 100%;
        height: auto;
        margin-top: 1rem;
    }

    .main1 h1 {
        font-size: 1.5rem;
    }

    .para {
        height: auto;
    }

    .para p {
        font-size: 0.875rem;
    }

    .rating {
        gap: 0.25rem;
    }

    .dash-img {
        width: 100%;
    }

    .dash-1 {
        width: 100%;
        height: auto;
    }

    .dash-2 {
        width: 100%;
        height: auto;
    }

    .main-2 {
        height: 100vh;
    }

    .m2-content {
        width: 100%;
        height: auto;
    }

    .m2-content h1 {
        font-size: 1rem;
    }

    .m2-content p {
        font-size: 0.75rem;
    }

    .m2-img img {
        width: 100%;
        height: auto;
    }

    .main-3 {
        height: 100vh;
    }

    .m3-content {
        width: 100%;
        height: auto;
    }

    .m3-heading {
        width: 100%;
        height: auto;
    }

    .m3-heading h1 {
        font-size: 1rem;
    }

    .m3-heading p {
        font-size: 0.75rem;
    }

    .m3-content-img {
        margin-left: 0;
        width: 100%;
    }

    .m3-content-img img {
        width: 100%;
        height: auto;
    }

    .main-4 {
        height: 100vh;
    }

    .m4-heading {
        gap: 0.1rem;
    }

    .m4-heading h1 {
        font-size: 1rem;
    }

    .m4-heading h1 span {
        font-size: 1.5rem;
    }

    .m4-input {
        width: 100%;
        height: auto;
    }

    .m4-input input {
        width: 100%;
        height: 1rem;
    }

    .m4-input button {
        width: 100%;
        height: 1.5rem;
    }

    .main-5 {
        height: 100vh;
    }

    .m5-content {
        width: 100%;
        height: auto;
    }

    .m5-content h1 {
        font-size: 1rem;
    }

    .m5-content P {
        font-size: 0.75rem;
    }

    .m5-img {
        width: 100%;
        height: auto;
    }

    .m5-img img {
        width: 100%;
        height: auto;
    }

    .main-6 {
        height: 100vh;
    }

    .m6-content {
        width: 100%;
        height: auto;
    }

    .m6-heading {
        width: 100%;
        height: auto;
    }

    .m6-heading h1 {
        font-size: 1rem;
    }

    .m6-heading h1 span {
        font-size: 1.5rem;
    }

    .m6-img img {
        margin-left: 0;
        width: 100%;
        height: auto;
    }
}

